@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.body{
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
       /* First Section */
.header-first{
   background-image: url(../images/developer.png), url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: top left, bottom right;
}
.secondery-bg{
    background-color: rgb(255, 248, 243);
}
.text-primary{
    color: rgb(253, 110, 10);
}
.nav-link{
    color: rgb(71, 71, 71);
}
.btn-primary{
    background-color: rgb(253, 110, 10);
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: rgb(216, 103, 22);
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    scale: 1.1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* banner section */
.banner{
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
    border: 1px solid red;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: small;
    font-weight: normal;
}
.banner-pic{
    width: 580px;
}

        /* Second Section */

       